p, ul, ol, li, blockquote, td, body, table, h1, h5, dl, dt, dd, .sansserif, th, sup
{
    font-family: helvetica,sans-serif;
}

p, ul, ol, li, pre, blockquote, td, body, table, code, textarea, dl, .fontnormal
{
    font-size: 11px;
}

th
{
    font-size: 12px;
}

sup
{
    font-size: 8px;
}

.noindent { text-indent: 0em; }
.indent   { text-indent: 2em; }

pre, code, textarea
{
    font-family: "lucida console", "courier new", monotype;
}

ol
{
    list-style-type: lower-roman;
}

.loweralpha
{
    list-style-type: lower-alpha;
}

.smallcaps
{
    font-variant: small-caps;
}

huge, .huge { font-size: 20mm; }

.textarea-cool
{
    background: #FAFFFF;
    color:      #000000;
    scrollbar-base-color:  #330000;
    scrollbar-arrow-color: #999999;
    padding-left:    1em;
    padding-top:    1em;
}

strike
{
  text-decoration: line-through;
}
